<br>

<div class="container">
    <div class="row">
        <form class="col-md-3 form-inline search-form" ng-submit="watchlist.addIntoWatchList()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="watchlist.symbol" placeholder="Add stock to watch "
                           id="search" class="form-control">
                    <span class="input-group-btn">
			            <button class="btn btn-default" ng-click="watchlist.addIntoWatchList()" type="button">
                            <i class="fa fa-plus"></i>Watch</button>
                    </span>
                </div>
            </div>
        </form>
    </div>


    <br>

    <h3>Realtime Quote (click stock code to view historical graph)</h3>
    <br>

    <div ng-show="error" class="row">
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>


    <div class="row">

        <div>
            <table class="table table-hover">
                <thead class="cf">
                <tr>
                    <th>Code</th>
                    <th>Company</th>
                    <th class="numeric">Bid</th>
                    <th class="numeric">Ask</th>
                    <th class="numeric">Change %</th>
                    <th class="numeric">Open</th>
                    <th class="numeric">High</th>
                    <th class="numeric">Low</th>
                    <th class="numeric">Volume</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="quote in watchlist.quotes">
                    <td data-title="Code"><a ui-sref="app.chart({symbol:quote.symbol})">{{quote.symbol}}</a></td>
                    <td data-title="Name">{{quote.name}}</td>
                    <td data-title="bid" class="numeric">{{quote.bid |  currency}}</td>
                    <td data-title="ask" class="numeric">{{quote.ask |  currency }}</td>
                    <td data-title="Change %" class="numeric">{{quote.changeInPercent | number:2}}%</td>
                    <td data-title="Open" class="numeric">{{quote.open| currency}}</td>
                    <td data-title="High" class="numeric">{{quote.daysHigh| currency}}</td>
                    <td data-title="Low" class="numeric"> {{quote.daysLow| currency}}</td>
                    <td data-title="Volume" class="numeric">{{quote.volume}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
