<div id="wrapper" ng-init="base.init()">
    <!-- Navigation -->
    <fusion-header></fusion-header>

    <div id="page-wrapper" style="min-height: 561px;">
        <div ui-view>
        </div>
    </div>

    <!-- /#page-wrapper -->
</div>
