<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<div ui-view></div>
</body>