<br>
<div>

    <div class="row">

        <div class="col-md-3">
            <h3>John Doe</h3>
        </div>

        <div class="col-md-9">
            <ul class="list-group pull-right">
                <li class="list-group-item">
                    <h4 class="">Net Balance : ${{ portfolio.portfolio ? portfolio.portfolio.balance : 0   |number:2}} </h4>
                </li>
                <li class="list-group-item">
                    <h4 class="">Total Asset Value : ${{portfolio.getTotalAsset(portfolio.portfolio.assets, portfolio.quotes) |number:2}} </h4>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div class="row">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-body">


                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group  pull-left" role="group" aria-label="...">
                            <button type="button" ng-click="portfolio.openBuyModal(portfolio.portfolio)" class="btn btn-success">Buy</button>
                            <button type="button" ng-click="portfolio.openBalanceModal(true)" class="btn btn-default">
                                Deposit
                            </button>
                            <button type="button" ng-click="portfolio.openBalanceModal(false)" class="btn btn-default">
                                Withdraw
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="list-group">

                    <li class="list-group-item">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th> Security</th>
                                <th> Volume</th>
                                <th> Cost</th>
                                <th> Market Value</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr dir-paginate="asset in portfolio.portfolio.assets | itemsPerPage: portfolio.perPage">
                                <td class="vert-align">{{asset.code}}</td>
                                <td class="vert-align">{{asset.volume}}</td>
                                <td class="vert-align">{{asset.cost | currency}}</td>
                                <td class="vert-align">{{portfolio.getPrice(asset.code, portfolio.quotes) * asset.volume | currency }}</td>
                                <td class="vert-align">
                                    <button class="btn btn-danger" ng-click="portfolio.openSellModal(portfolio.portfolio, asset)"> Sell
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <dir-pagination-controls on-page-change="portfolio.pageChanged(newPageNumber)"></dir-pagination-controls>
                    </li>
                </ul>
            </div>

    </div>
</div>