
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form  ng-submit="login.login()" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" ng-model="login.credentials.nameOrEmail" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="login.credentials.password" placeholder="Password" name="password" type="password" value="">
                            </div>

                            <!--<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>-->

                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>