<br>
<div class="container">


    <div class="row">
        <form class="col-md-6 form-inline search-form">
            <div class="form-group">
                <label class="sr-only" for="search">Search</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" ng-model="transactions.search" placeholder="Search by stock code" id="search"
                           class="form-control">
                </div>
            </div>
        </form>
    </div>

    <br>

    <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> Date</th>
                        <th> Security</th>
                        <th> Event</th>
                        <th> Price</th>
                        <th> Volume</th>
                        <th> Value</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr dir-paginate="transaction in transactions.transactions | itemsPerPage: transactions.perPage" total-items="transactions.transactionsCount">
                        <td>{{transaction.date| date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{transaction.symbol}}</td>
                        <td>{{transaction.isBid ? 'Buy' : 'Sell'}}</td>
                        <td>{{transaction.price |  currency}}</td>
                        <td>{{transaction.volume}}</td>
                        <td>{{transaction.price * transaction.volume | currency}}</td>
                    </tr>
                    </tbody>

                </table>

                <dir-pagination-controls on-page-change="transactions.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>