<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>

    <div class="row">
        <h4 class="modal-title custom_align" id="Heading"> Buy </h4>
        <span class="text-center" ng-show="trading ">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="container">

        <div ng-show="error" class="row">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="input-group">
                    <input id="stock" type="text" placeholder="Please type stock symbol" ng-model="order.code"
                           class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-hide="quoting" ng-click="getStockTicker()" type="button">
                            Quote
                        </button>
                        <button class="btn btn-default text-center" ng-show="quoting ">
                            <i class="fa fa-spinner fa-spin"></i>
                        </button>
                   </span>
                </div>
            </div>
        </div>

        <div ng-show="ticker" class="row">
            <div class="form-group">
                <h3>
                    <span class="label label-info">
                        {{ticker.name}}({{ticker.symbol}})  {{ticker.ask | currency:"USD$" }}
                     </span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input id="value" type="number" placeholder="Number of shares" ng-model="order.volume"
                       class="form-control">
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="buy()" ng-disabled="trading">Confirm</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>