<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <h4 class="modal-title custom_align" id="Heading">Sell {{asset.code}}</h4>
    <span class="text-center" ng-show="trading ">
        <i class="fa fa-spinner fa-spin"></i>
    </span>
</div>


<div class="modal-body">
    <div class="container">

        <div ng-show="error" class="row">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input id="stock" type="text" disabled ng-model="order.code" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <input id="volume" type="number" ng-model="order.volume" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="trading" ng-click="sell()">Confirm</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>