<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li>
                <a href  ui-sref="app.portfolio"><i class="fa fa-book"></i> My Account</a>
                <a href  ui-sref="app.watchlist"><i class="fa fa-binoculars"></i> Watchlist</a>
                <a href  ui-sref="app.transactions"><i class="fa fa-list-alt"></i> Transaction History</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>



