<br>

<div ncy-breadcrumb></div>

<div class="row" ng-init="graphCtrl.init()">

    <div class="col-xs-12 col-md-12">
        <h2>{{graphCtrl.symbol}}  <h3>{{stock.price | currency}}</h3></h2>
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" id="line-chart">
            <div id="container-area"></div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12" ng-show="loading">
         <span class="pull-center">
                <i class="fa fa-spinner fa-spin fa-5x"></i>
         </span>
    </div>
</div>