<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <h4 class="modal-title custom_align" id="Heading"> Withdraw </h4>
</div>

<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <label for="stock">Amount: </label>
                <input id="stock" type="number" ng-model="amount" class="form-control">
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="withdraw()">Confirm</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>